export(annotate_to_gene_models)
export(annotate_to_genomic_features)
export(available_gencode_fields)
export(basic_genomic_regions_stat)
export(binary_search)
export(bp)
export(chipseq_hooks)
export(chromatin_states_transition_chord_diagram)
export(common_regions)
export(cor_columns)
export(correlated_regions)
export(cr_add_subtype_specificity)
export(cr_enriched_at_tss)
export(cr_gviz)
export(cr_hilbert)
export(cr_overlap_to_genomic_features)
export(cr_scatterplot_me)
export(enriched_heatmap_list_on_gene)
export(enriched_heatmap_list_on_genomic_features)
export(enriched_heatmap_list_on_tss_cgi)
export(epic)
export(extract_field_from_gencode)
export(extract_sites)
export(filter_correlated_regions)
export(find_neighbours)
export(genomic_corr_absdist)
export(genomic_corr_jaccard)
export(genomic_corr_nintersect)
export(genomic_corr_pintersect)
export(genomic_corr_reldist)
export(genomic_corr_sintersect)
export(genomic_regions_correlation)
export(get_mean_methylation_in_genomic_features)
export(get_peak_list)
export(global_methylation_distribution)
export(heatmap_diff_methylation_in_genomic_features)
export(kb)
export(load_config)
export(logical_segment)
export(make_transition_matrix_from_chromHMM)
export(mb)
export(methylation_hooks)
export(methylation_subtype_classfication)
export(percentOverlaps)
export(plot_coverage_and_methylation_on_genome)
export(plot_multiple_samples_methylation_on_genome)
export(plot_subgroup_specificity_heatmap)
export(print.bp)
export(reduce2)
export(reduce_cr)
export(reduce_cr_gap_test)
export(run_pipeline)
export(scatterplot_with_boxplot)
export(set_counter)
export(subgroup_specific_genomic_regions)
export(systemdf)
export(wgbs_qcplot)


import(ComplexHeatmap)
import(ConsensusClusterPlus)
import(GenomicFeatures)
import(GenomicRanges)
import(GetoptLong)
import(GlobalOptions)
import(Gviz)
import(HilbertCurve)
import(IRanges)
import(RColorBrewer)
import(circlize)
import(graphics)
import(grid)
import(gtrellis)
import(memoise)
import(parallel)
importFrom("EnrichedHeatmap", EnrichedHeatmap, copyAttr, getSignalsFromList, normalizeToMatrix, anno_enriched, makeWindows)
importFrom("GenomeInfoDb", `seqlevels<-`, "seqlengths<-")
importFrom("S4Vectors", DataFrame, metadata)
importFrom("ggplot2", ggplot, geom_bar, aes, facet_wrap, scale_fill_manual, xlab, ylab, theme, ggtitle, element_text)
importFrom("matrixStats", rowIQRs, rowSds, colMedians, rowVars, rowTabulates, rowMaxs)
importFrom("numbers", mGCD)
importFrom(AnnotationDbi, loadDb)
importFrom(Rcpp, sourceCpp)
importFrom(grDevices, pdf, dev.off, rgb, col2rgb)
importFrom(stats, cor.test, oneway.test, t.test, p.adjust, integrate, ecdf, density, rnorm, hclust, cmdscale, as.dendrogram, dist, reorder, order.dendrogram, runif)
importFrom(utils, read.table, write.table, txtProgressBar, setTxtProgressBar)
useDynLib(epic, .fixes = "epic_", .registration=TRUE)


