export(annotate_to_gene_models)
export(annotate_to_genomic_features)
export(available_gencode_fields)
export(basic_genomic_regions_stat)
export(bp)
export(chipseq_hooks)
export(chromatin_states_transition_chord_diagram)
export(common_regions)
export(compare_meth)
export(correlated_regions)
export(cpg_dinucleotide_methylation)
export(cr_add_fdr_column)
export(cr_enriched_heatmap_at_cgi)
export(cr_enriched_heatmap_at_gene)
export(cr_enriched_heatmap_at_genomic_features)
export(cr_enriched_heatmap_at_tss)
export(cr_enrichedheatmap)
export(cr_genes_david)
export(cr_genic_stat)
export(cr_gviz)
export(cr_hilbert_curve)
export(cr_scatterplot)
export(enrich_with_histone_mark)
export(enrich_with_methylation)
export(epic)
export(extract_field_from_gencode)
export(find_neighbours)
export(general_chipseq_association)
export(general_chipseq_association_to_methylation)
export(genomic_corr_absdist)
export(genomic_corr_intersect)
export(genomic_corr_jaccard)
export(genomic_corr_reldist)
export(genomic_regions_correlation)
export(get_chromHMM_list)
export(get_mean_methylation_in_genomic_features)
export(get_peak_list)
export(global_methylation_distribution)
export(gtrellis_coverage_and_methylation)
export(gtrellis_cr_genes)
export(gtrellis_methylation_for_multiple_samples)
export(gtrellis_sig_cytoband)
export(heatmap_diff_methylation_in_genomic_features)
export(heatmap_subgroup_specificity)
export(hilbert_curve_chipseq_difference)
export(hilbert_curve_methylation_difference)
export(import_gencode_as_txdb)
export(kb)
export(load_config)
export(make_transition_matrix_from_chromHMM)
export(mat_dist)
export(match_by_gencode)
export(mb)
export(methylation_hooks)
export(percentOverlaps)
export(reduce2)
export(reduce_cr)
export(run_pipeline)
export(scatterplot_with_boxplot)
export(set_counter)
export(sig_cr_compare_cutoff)
export(sig_cr_enrichedheatmap)
export(sig_cr_heatmap)
export(state_names)
export(state_names<-)
export(subgroup_specific_genomic_regions)
export(systemdf)
export(wgbs_qcplot)

import(ComplexHeatmap)
import(GenomicFeatures)
import(GenomicRanges)
import(GetoptLong)
import(GlobalOptions)
import(Gviz)
import(HilbertCurve)
import(IRanges)
import(RColorBrewer)
import(circlize)
import(graphics)
import(grid)
import(gtrellis)
import(memoise)
import(parallel)
import(EnrichedHeatmap)
importFrom("GenomeInfoDb", `seqlevels<-`, "seqlengths<-")
importFrom("S4Vectors", DataFrame, metadata)
importFrom("ggplot2", ggplot, geom_bar, aes, facet_wrap, scale_fill_manual, xlab, ylab, theme, ggtitle, element_text)
import(matrixStats)
importFrom("numbers", mGCD)
importFrom(AnnotationDbi, loadDb)
importFrom(Rcpp, sourceCpp)
importFrom(grDevices, pdf, dev.off, rgb, col2rgb)
importFrom(stats, cor.test, oneway.test, t.test, p.adjust, integrate, ecdf, density, rnorm, hclust, cmdscale, as.dendrogram, dist, reorder, order.dendrogram, runif)
importFrom(utils, read.table, write.table)

useDynLib(epic, .fixes = "epic_", .registration=TRUE)

